
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (max-width: 1200px) {

  .main-index,
  .contact-top,
  .projet-top {
    flex-direction: column;
  }

  .presentation,
  .presentation-projet,
  .contact-explain {
    width: 95%;
  }

}

body{
    background-color: black;
}

.header-index{
    height: 100vh;
}

.header-contact{
    height: 9vh;
}

.navbar{
    height: 9vh;
    padding-left: 2%;
    padding-right: 5%;
    gap: 30px;
    background-color:gainsboro;
    display: flex;
    align-items: center;
    transition: 0.4s ease;
}

body.dark .navbar{
    background-color: #1a1a1a;
}


.background{
    background-image: url(images/background_image.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(7px);
    z-index: -2;
}

.background-cover{
    z-index: -1;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(9, 3, 95, 0.356)
}

.logo-main{   
    width: 55.5px;
    height: 55px;
    border-radius: 50%;
}

.pages-lien-header{
    margin-left: 2%;
    display: flex;
    font-size: 20px;
    gap: 75px
}

.pages-lien-footer{
    margin-left: auto;
    display: flex;
    font-size: 20px;
    gap: 75px
}

p{
    font-size: 1.5em;
    letter-spacing: 1px;
    font-family: "Gluten", system-ui;
    font-weight: 400;
    color: black;
    line-height: 1.15;
    transition: 0.4s ease;
}

body.dark p{
    color: whitesmoke;
}

.no-transition{
    transition: none !important;
}

.navbar a{
    color: rgb(103, 85, 124);
    font-weight: bold;
    text-decoration: none;
    font-family: sans-serif;
    transition: 0.5s ease;
}

.navbar a:hover{
    color: rgb(56, 7, 192);
    transform: scale(1.1);
}

.navbar .page-actuel{
    color: rgb(56, 7, 192);
    text-decoration: underline;
}

.switch {
    position: relative;
    margin-left: auto;
    width: 60px;
    height: 34px;
}

#dark-mode-image{
    margin-left: 63%;
    max-width: 3.5%;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #585858;
    transition: 0.4s ease;
    border-radius: 34px;

}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: whitesmoke;
    transition: 0.4s ease;
    border-radius: 34px;
}

input:checked + .slider{
    background-color: #b054e6;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.main-title{
    text-align: center;
    margin-top: 17vh;
}

h1{
    font-size: 4.5em;
    font-family: serif;
    color: white;
}

#subtitle{
    margin-top: 1em;
    letter-spacing: 7px;
    font-size: 2em;
    color: rgb(255, 220, 106);
    font-family: sans-serif;
}

.resaux-liste{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    gap: 1.5vw;
}

.images-resaux{
    width: 7vh;
    height: 7vh;
    border-radius: 100%;
    background-color: rgba(49, 49, 49, 0.550);
    padding: 8%;
    transition: 1s ease;
}

.images-resaux:hover{
    background-color: rgba(196, 196, 196, 0.705);
}

.main-index{
    min-height: 145vh;
    width: 100%;
    background-color:rgb(255, 241, 236);
    display: flex;
    gap: 3%;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: 0.4s ease;
}

body.dark .main-index{
    background-color: #121212;
}

.main-contact{
    min-height: 110vh;
    width: 100%;
    padding-top: 2%;
    padding-left: 2%;
    background-color:rgb(255, 241, 236);
    transition: 0.4s ease;

}

body.dark .main-contact{
    background-color: #121212;
}

.main-projet{
    min-height: 900vh;
    width: 100%;
    padding-top: 2%;
    padding-left: 2%;
    background-color: rgb(255, 241, 236);;
    transition: 0.4s ease;
}

body.dark .main-projet{
    background-color: #121212;;
}

.title-presentation{
    display: flex;
    align-items: center;
    margin-bottom: 1.5%;
}

.title-presentation h2{
    margin-bottom: 0%;
}

.presentation{
    border-radius: 75px;
    min-height: 55vh;
    width: min(50vw, 960px);
    border: 3px solid rgb(255, 194, 169);
    padding-top: 2%;
    padding-left: 2.5%;
    padding-right: 4%;
}

body.dark .presentation{
    border: 3px solid #b054e6;
}

.pfp{
    height: 112.5px;
    width: 200px;
    border-radius: 100px;
    margin-left: auto;
}

h2{
    font-size: 2.25em;
    margin-bottom: 7.5%;
    font-family: "Gluten", system-ui;
    color: black;
    transition: 0.4s ease;
}

body.dark h2{
    color:whitesmoke;
}

.accueil-gauche{
    padding-top: 0.5%;
    width: 50.5vw;
    
}

.accueil-droite{
    width: 42vw;   
}

.lien-projet{
    height: 45vh;
    width: 30vw;
    margin-top: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
    margin-left: 14%;
}

.image-projet{
    max-width: 423px;
    width: 100%;
    height: auto;
}


.button{
    height: 60px;
    width: 190px;
    border-radius: 50px;
    font-family: "Averia Sans Libre", system-ui;
    font-weight: 400;
    font-style: normal;
    font-weight: 400;
    font-style: normal;    
    border: 4px solid rgb(255, 194, 169);
    background-color: rgb(255, 231, 209);
    font-size: 20px;
    color: rgb(255, 163, 127);
    transition: 0.4s ease;
}

body.dark .button{
    background-color: #320241;
    color: rgb(212, 142, 240);
    border: 4px solid #b054e6;
}

.button:hover{
    transform: scale(1.15);
    font-size: 21px;
    color: rgb(255, 248, 243);
    background-color: rgb(255, 210, 168);
    cursor: pointer;
}

body.dark .button:hover{
    background-color: #cc78fc ;
    color: rgb(61, 7, 82);
}

.presentation-projet{
    margin-left: 2%;
    margin-top: 3%;
    border-radius: 75px;
    min-height: 27vh;
    width: min(40vw, 760px);
    border: 3px solid rgb(255, 194, 169);
    padding-top: 3%;
    padding-left: 2.5%;
    padding-right: 2%;
}

body.dark .presentation-projet{
    border: 3px solid #b054e6;
}

.presentation-contact{
    margin-top: 47%;
    border-radius: 75px;
    height: 32vh;
    width: 50vw;
    border: 3px solid rgb(255, 194, 169);
    padding-top: 3%;
    padding-left: 2.5%;
    padding-right: 2%;    
}

body.dark .presentation-contact{
    border: 3px solid #b054e6;
}

.lien-contact{
    margin-top: 25%;
    margin-left: 7%;
    width: 30vw;
    display: flex;
    align-items: center;
    gap: 4%
}

.image-contact{
    max-width: 250px;
    width: 100%;
    height: auto;
}

.contact-top{
    height: 43vh;
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    padding-right: 12%;
    padding-left: 2%;
}

.contact-explain{
    border-radius: 75px;
    border: 3px solid rgb(255, 194, 169);
    height: 35vh;
    width: 55vw;
    padding-top: 3%;
    padding-left: 2.5%;
    padding-right: 2%;    
    margin-top: 2.5%;
}

body.dark .contact-explain{
    border: 3px solid #b054e6;
}

.contact-mailbox{
    height: 385px;
    width: 334.6px;
    margin-left: auto;
    margin-top: 0.5%;
}

.formulaire{
    margin-top: 1.5%;
    height: 55vh;
    width: 95vw;
    padding-left: 4%;
}

form{
    display: flex;
    flex-direction: column;

}


#name-label{
    margin-bottom: 1%;
    font-family: "Gluten", system-ui;
}

#mail-label{
    margin-top: 1.5%;
    margin-bottom: 1%;
    font-family: "Gluten", system-ui;
}


#message-label{
    margin-top: 1.5%;
    margin-bottom: 1%;
    font-family: "Gluten", system-ui;
}

#name{
    width: 20vw;
    height: 4vh;
    border-radius: 12px;
    padding-left: 0.5%;
    font-size: 15px;
}

#mail{
    width: 20vw;
    height: 4vh;
    border-radius: 12px;
    padding-left: 0.5%;
    font-size: 15px;
}

#message{
    width: min(85vw, 1600px);
    height: 20vh;
    border-radius: 25px;
    padding-top: 0.5%;
    padding-left: 1%;
    font-size: 18px;
}


textarea{
    resize: none;
}

.envoie-message{
    display: flex;
    align-items: center;
    gap: 3%
}

#submit-button{
    margin-top: 1%;
}

.text-input{
    background-color:rgb(243, 213, 202);
    border: 2px solid rgb(255, 241, 236);
    font-family: sans-serif;   
    transition: 0.4s ease;
}

body.dark .text-input{
    border: 2px solid #121212;
    background-color: #5c5c5c;
    color:whitesmoke;
}

.input-error{
    border:2px solid rgb(255, 61, 61);
}

body.dark .input-error{
    border:2px solid rgb(255, 61, 61);
}

label{
    font-size: 1em;
    letter-spacing: 1px;
    font-family: sans-serif;
    color: black;
    font-weight: 600;
    transition: 0.4s ease;
}

body.dark label{
    color: whitesmoke;
}

.success-message{
    margin-top: 1.5%;
    font-size: 20px;
    color: rgb(98, 228, 98);
    font-style: italic;
    font-family: sans-serif;
}

body.dark .success-message{
    color: rgb(98, 228, 98);
}

.error-message{
    margin-left: 1%;
    font-size: 13px;
    color: rgb(255, 61, 61);
    font-style: italic;
    font-family: sans-serif;
}

body.dark .error-message{
    color: rgb(255, 61, 61);
}

.hide{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.show{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.signature-footer{
    margin-left: 7.5%;
    font-family: sans-serif;
}

.projet-top{
    height: 50vh;
    width: 97%;
    display: flex;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.competence{
    border-radius: 75px;
    border: 3px solid rgb(255, 194, 169);
    padding-top: 2%;
    padding-left: 2.5%;
    padding-right: 4%;
    width: 45%;
}

body.dark .competence{
    border: 3px solid #b054e6;
}

.lien-git{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 12%;
    width: 30%;
    padding-top: 1%;
}

.image-git{
    height: 35vh;
    margin-bottom: 7%;
    border-radius: 100%;
}

.projets{
    border-radius: 75px;
    border: 3px solid rgb(255, 194, 169);
    height: 315vh;
    width: 97%;
    padding-top: 1%;
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    margin-top: 8%;
}

body.dark .projets{
    border: 3px solid #b054e6;
}

.projets-3d{
    border-radius: 75px;
    border: 3px solid rgb(255, 194, 169);
    height: 495vh;
    width: 97%;
    padding-top: 1%;
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    margin-top: 8%;
}

body.dark .projets-3d{
    border: 3px solid #b054e6;
}

.projet-exemple{
    max-width: 70vw;
    margin-left: 10%;
    margin-bottom: 5%;
    border-radius: 50px;
}

.description{
    border-radius: 75px;
    border: 3px solid rgb(255, 194, 169);
    padding-top: 2%;
    padding-left: 2.5%;
    padding-right: 4%;
    margin-left: 5%;
    width: 85%;
    height: 50vh;
}

body.dark .description{
    border: 3px solid #b054e6;
}

.section {
    margin-top: 4%;
    margin-bottom: 4%;
    height: 0.2em;
    width: 95%;
    background-color: rgb(236, 151, 117);
}

body.dark .section{
    background-color: #70219e;
}

.description button{
    margin-left: 42%;
}


